.section {
	background-color: #141c2f;
	min-height: 100vh;
	height: fit-content;
	width: 100%;
	/* padding-top: 80px; */
	display: flex;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
}
.container {
	background-color: RGB(20, 28, 47);
	height: fit-content;
	max-width: 1000px;
	/* width: 500px; */
	/* overflow: hidden; */
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.wrapper {
	color: #fff;
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	width: 100%;
	flex-direction: column;
	/* margin-top: 20px; */
	padding: 30px;
}
.title {
	position: relative;
	width: 100%;
	bottom: 25px;
}
.title h4 {
	position: absolute;
	left: 0;
	font-size: 15px;
	font-weight: 1000;
}
.title label {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 11px;
}
.search-bar {
	display: flex;
	align-items: center;
	grid-gap: 15px;
	background-color: RGB(31, 42, 71);
	width: 100%;
	height: fit-content;
	padding: 8px 16px;
	border-radius: 8px;
	justify-content: space-between;
}

.search-bar input {
	background-color: RGB(31, 42, 71);
	border: none;
	color: RGB(129, 137, 158);
	padding: 7px;
	flex: 1;
	outline: none;
}
.search-bar button {
	width: 70px;
	height: 30px;
	background-color: RGB(0, 121, 254);
	color: #fff;
	font-size: 12px;
	border: 1px solid RGB(0, 121, 254);
	border-radius: 6px;
}

.search-bar,
.desc {
	margin: 8px 0;
}

.desc {
	background-color: RGB(31, 42, 71);
	display: flex;
	grid-gap: 1rem;
	width: 100%;
	height: fit-content;
	padding: 16px;
	border-radius: 8px;
}
.right {
	flex: 1;
}
.logo img {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	object-fit: contain;
}

.info-head {
	display: flex;
	justify-content: space-between;
}
.info h4 {
	font-size: 16px;
	word-spacing: 4px;
	letter-spacing: 2px;
}
.info label {
	font-size: 11px;
	letter-spacing: 1px;
}

.name {
	font-size: 12px;
	color: #005ec6;
}
.bio {
	margin-block: 20px;
	font-size: 12px;
	word-spacing: 2px;
}

.grid {
	margin-top: 14px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}
.count {
	background-color: RGB(20, 28, 47);
	border-radius: 8px;
	width: auto;
	margin-top: 10px;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	width: 100%;
}
th,
td {
	text-align: center;
}
th {
	font-size: 13px;
}
.count td {
	font-size: 18px;
	font-weight: bolder;
}
.location {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.location span {
	display: flex;
	align-items: center;
	grid-gap: 5px;
	font-size: 12px;
	line-height: 1.5rem;
}
